a {
  color: red;
}
.titulo {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: green;
  font-size: medium;
}
.Navegacion {
  color: red;
}

.dias {
  font-weight: bold;
  color: black;
}
.horarios {
  font-style: oblique;
  color: black;
}
