a {
  color: red;
}
.titulo {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: green;
  font-size: medium;
}
.Navegacion {
  color: red;
}

.dias_semana {
  font-weight: bold;
  color: blue;
  font-size: 40px;
}
.horarios_semana {
  font-style: oblique;
  color: blue;
}
.dias_finde {
  font-weight: bold;
  color: violet;
  font-size: 40px;
}
.horarios_finde {
  font-style: oblique;
  color: violet;
}
